
.page{
    height: 100%;
    margin-bottom: 0px;
    position: relative;
    padding-bottom:150px;
}

h3{
    font-size: 30px;
    padding-top: 5px;
}

.subjudul{
    padding-top: 30px;
    padding-bottom:20px;
    font-size: 40px;
}
.putih{
    color:#ffff;
}

.merah{
    color: #D63447;
}

.navbar-nav{
    font-size: 20px;
}

.jumbotron{
    background-color:#D63447;
    text-align: center;
    height:100vh;
}
.nama{
    color: #F6EEDF;
    font-size: 50px;
    padding-top:200px;
    font-weight: 400px;
}
.quote{
    color:#F6EEDF;
    font-size: 20px;
}
.profile{
    background-color:#F57B51;
}

#foto-diri{
    width: 200px;
    border-radius: 50px;
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.experiences{
    background-color: #F6EEDF;
    
}

.abilities{
    background-color: #D1CEBD;
}

.ability{
    padding-top:40px;
}

.checked{
    color:#D99191;
}

.fa-star{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact{
    background-color: #3F3D34;
}
.line{
    background-color: white;
    border-width: 5px;
}

.medsos{
    padding-top:30px;
    font-size: 10px;
}